body {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin: 0;
  background: #e0ffe9;
  color: #fff;
}
header {
  background: #0078ab;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: auto;
  clear: both;
  display: block;
}
header h1 {
  margin: 0;
}
.clearfix {
  display: none;
  height: 0;
  clear: both;
  padding-top: 49px;
}
section {
  background: #0078ab;
  border-radius: 10px;
  width: 70%;
  margin-left: 20%;
  margin-top: 60px;
  padding: 1em;
  display: inline-block;
  position: relative;
}
main {
  background: #0078ab;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}
a {
  text-decoration: none;
  color: #e0ffe9;
}
a:hover {
  font-weight: bold;
}
h1 {
  font-family: 'Carter One', cursive;
}
img {
  margin: 1em auto;
  margin-top: 60px;
  width: 50vw;
  max-width: 563px;
}
blockquote {
  font-style: italic;
  text-align: right;
}

/*navigation*/
.general {
  width: 20%;
  background: #7baf9d;
  height: 100%;
  position: fixed;
  padding-top: 2em;
  z-index: 0;
  display: block;
}
.general a > li {
  padding: 1em 0;
}
nav a > li:hover {
  font-weight: bold;
}
li img {
  width: 50%;
}

/*home page navigation*/
.index nav {
  text-align: center;
}
.index a > li {
  display: inline-block;
  padding: .5em 1em;
}
.index li {
  list-style: none;
  text-align: center;
}
nav ul {
  padding: 0;
  color: #fff;
}
nav li li {
  font-style: italic;
  font-size: .9em;
}

@media (max-width: 730px) {
  .general li ul {
    display: none;
  }
  #img {
    display: none;
  }
}
@media (max-width: 350px) {
  .clearfix {
    display: block;
  }
  .general {
    width: 100%;
    height: 50px;
    clear: both;
    padding: 0;
    position: fixed;
    z-index: 1;
  }
  .general a > li {
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  .general li {
    display: inline-block;
    height: auto;
    width: 19%;
    clear: both;
  }
  section {
    clear: both;
    float: none;
    width: 90%;
    margin: 0 auto;
    border-radius: 0;
  }
}
